<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dharnishdp/Automation_java/PomFrameWork">
        <classes>
            <class name="io.headspin.Confest">
            </class>
            <class name="io.headspin.Youtube">
            </class>
        </classes>
    </test>
</suite>