<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dharnishdp/Automation_java/PomWithoutConfigFile">
        <parameter name="udid" value="RFCRC08KCAX"></parameter>
        <parameter name="AppiumURL" value="https://dev-in-blr-0.headspin.io:3012/v0/150f14a11db946ffb9505e3175ae9d95/wd/hub"></parameter>
        <classes>
<!--            <class name="io.headspin.ConfestTest">-->
<!--            </class>-->
            <class name="io.headspin.YoutubeTest">
            </class>
        </classes>
    </test>
</suite>